:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#movie-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movie-list {
  width: 80vw;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.movie-li {
  width: 200px;
  height: 150px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.movie-name, .movie-genre {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.movie-name {
  font-size: 16px;
  font-weight: bold;
}

.movie-genre {
  color: gray;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

#search-field {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
}

#search-field::placeholder {
  color: lightgray;
}
